/* estilo para o título */
h1 {
  font-size: 3rem;
  text-align: center;
}

/* estilo para a div de piadas */
#piadas {
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid black;
  width: 80%;
  height: 200px;
  overflow: auto;
}

/* estilo para o botão de nova piada */
button {
  font-size: 1.5rem;
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* estilo para o botão quando hover */
button:hover {
  background-color: #3e8e41;
}
